<div class="contenido-formulario">
    <div style="background-color: #d2eaef; min-height: 40px; border-radius: 4px 4px 0px 0px; margin-top: 10px; border-left: solid 6px #78c1ce; color: #121212; font-size: 16px; font-weight: 600!important;" fxLayout="row" fxLayoutAlign="start center">
        <span [style.marginLeft.px]="10"> CURP: </span>
    </div>
    <div class="card">
        <div style="width: 100%; overflow: auto; height: 44px" fxLayoutAlign="start stretch">
            <div fxFlex="18" fxFlex.lg="18" fxFlex.xs="18" fxLayout="column" fxLayoutAlign="start stretch">
                <span class="textTitulo">Nombre</span>
                <span>RAUL JAVIER</span>
            </div>
            <div fxFlex="18" fxFlex.lg="18" fxFlex.xs="18" fxLayout="column" fxLayoutAlign="start stretch">
                <span class="textTitulo">Apellido Paterno</span>
                <span>RAUL JAVIER</span>
            </div>
            <div fxFlex="18" fxFlex.lg="18" fxFlex.xs="18" fxLayout="column" fxLayoutAlign="start stretch">
                <span class="textTitulo">Apellido Materno</span>
                <span>RAUL JAVIER</span>
            </div>
            <div fxFlex="18" fxFlex.lg="18" fxFlex.xs="18" fxLayout="column" fxLayoutAlign="start stretch">
                <span class="textTitulo">OOAD*:</span>
                <span>RAUL JAVIER</span>
            </div>
            <div fxFlex="18" fxFlex.lg="18" fxFlex.xs="18" fxLayout="column" fxLayoutAlign="start stretch">
                <span class="textTitulo">Subdelegación</span>
                <span>RAUL JAVIERffffffffffffffffffffffffffff</span>
            </div>
        </div>
        <div style="width: 100%; overflow: auto; height: 55px" fxLayoutAlign="start stretch">
            <div fxFlex="18" fxFlex.lg="18" fxFlex.xs="18" fxLayout="column" fxLayoutAlign="start stretch">
                <span class="textTitulo">Perfil</span>
                <span>RAUL JAVIER</span>
            </div>
            <div fxFlex="18" fxFlex.lg="18" fxFlex.xs="18" fxLayout="column" fxLayoutAlign="start stretch">
                <span class="textTitulo">Contraseña</span>
                <span>RAUL JAVIER</span>
            </div>
            <div fxFlex="32" fxFlex.lg="18" fxFlex.xs="18" fxLayout="column" fxLayoutAlign="start stretch">
                <span class="textTitulo">Correo electrónico</span>
                <span>RAUL JAVIER</span>
            </div>
            <div fxFlex="18" fxFlex.lg="18" fxFlex.xs="18" fxLayout="column" fxLayoutAlign="start stretch">
                <span class="textTitulo">Fecha de alta</span>
                <span>RAUL JAVIER</span>
            </div>
        </div>
        <div style="width: 100%; overflow: auto; height: 44px" fxLayoutAlign="start stretch">
            <div fxFlex="18" fxFlex.lg="18" fxFlex.xs="18" fxLayout="column" fxLayoutAlign="start stretch">
                <span class="textTitulo">Registro</span>
                <span>RAUL JAVIER</span>
            </div>
            <div fxFlex="18" fxFlex.lg="18" fxFlex.xs="18" fxLayout="column" fxLayoutAlign="start stretch">
                <span class="textTitulo">Fecha de cambio</span>
                <span>RAUL JAVIER</span>
            </div>
            <div fxFlex="18" fxFlex.lg="18" fxFlex.xs="18" fxLayout="column" fxLayoutAlign="start stretch">
                <span class="textTitulo">Estatus</span>
                <span>RAUL JAVIER</span>
            </div>
        </div>
        <div style="width: 100%; overflow: auto; height: 44px" fxLayoutAlign="start stretch">
            <div fxFlex="90" fxFlex.lg="90" fxFlex.xs="90" fxLayout="column" fxLayoutAlign="start stretch">
                <span class="textTitulo">Descripción</span>
                <span>RAUL JAVIER</span>
            </div>
        </div>
    </div>
</div>