<div  class="selectComponent" fxFlex="0 1 calc(20% - 50px)" 
fxFlex.sm="calc(20% - 10px)" fxFlex.xs="calc(100%)" style="position: relative;"  >
            <label for="yearSelect" class="control-label" style="font-size: 14px;">Año:</label>
            
                <select 
                    [formControl]="date"  
                    id="yearSelect" 
                    class="form-control" 
                     aria-label="Selecciona un año"
                     aria-placeholder="Selecciona un año">
                     <option value="">Selecciona un año</option>
                    <option *ngFor="let year of yearList" [value]="year.value">{{year.label}}</option>
                  </select>

            

        </div>