<div style="width: 100%; min-height: calc(100vh - 176px);"  fxLayout="row" fxLayoutAlign="center stretch">
    <alert></alert>
    <div fxFlex="50" fxHide fxShow.gt-xs class="image-login" ></div>
    <div fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="30px">
        <div fxLayout="column" fxLayoutAlign="center stretch">
            <div fxLayout="row" fxLayoutAlign="center stretch" [style.marginTop.px]="30">
                <div fxFlex="65" fxLayout="column" fxLayoutAlign="space-around stretch">
                    <div style="font-size: 3rem; font-weight: 600; color: #42a6b8;">SPRIME</div>
                    <div style="font-size: 2.2rem; font-weight: 600; color: #565f76;">Sistema para Ubicar en la Prima Media a Patrones Vigentes sin Trabajadores</div>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center stretch">
            <div fxLayout="row" fxLayoutAlign="center stretch"  [style.marginBottom.px]="30">
                <div fxFlex="65" fxLayout="column" fxLayoutAlign="space-around stretch">
                    <div style="box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; 
                    min-width: 100%; min-height: 40vh; border-radius: 10px;" div fxLayout="column" fxLayoutAlign="center stretch" >
                        <div fxLayout="row" fxLayoutAlign="center stretch" [style.marginTop.px]="30" [style.marginBottom.px]="30">
                            <div fxFlex="85" fxLayout="column" fxLayoutAlign="center stretch">
                                <div style="font-weight: 600; font-size: 1.9rem;" fxFlexAlign="center"> Iniciar Sesión</div>
                                <div style="font-weight: 600; font-size: 1.7rem;" fxFlexAlign="center"> Ingresa tu CURP y contraseña</div>
                                <form [formGroup]="form">
                                    <div class="form-group" [style.marginTop.px]="10">
                                        <label class="control-label" style="font-size: 14px;">CURP:</label>
                                        <input class="form-control" formControlName="curp" placeholder="Ingresar CURP" type="text"
                                        maxlength="18" autocomplete="off" oninput="this.value = this.value.toUpperCase()"
                                        style="font-size: 14px;" (keypress)="onlyalphaAndNumbers($event);">
                                        <div *ngIf="form.controls['curp'].touched && form.controls['curp'].errors"
                                            class="text-danger form-error-label">
                                            <div *ngIf="form.controls['curp'].errors.required">
                                                *Este campo es requerido
                                            </div>
                                            <div *ngIf="form.controls['curp'].errors.pattern">
                                                *CURP inválido
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group"  [style.marginTop.px]="10">
                                        <label class="control-label" style="font-size: 14px;">Contraseña:</label>
                                        <input class="form-control" formControlName="password" placeholder="Ingresar contraseña" type="password"
                                        maxlength="12" minlength="8" [type]="ver ? 'text' : 'password'"
                                        style="font-size: 14px;">
                                        <span class="bootstrap-icons form-control-icon" aria-hidden="true" (click)="viewPassword()">
                                            <i class="bi bi-eye" *ngIf="!ver"></i>
                                            <i class="bi bi-eye-slash" *ngIf="ver"></i>
                                        </span>
                                        <div *ngIf="form.controls['password'].touched && form.controls['password'].errors"
                                            class="text-danger form-error-label">
                                            <div *ngIf="form.controls['password'].errors.required">
                                                *Este campo es requerido
                                            </div>
                                            <!-- <div *ngIf="form.controls['password'].errors.minlength">
                                                *La longitud mínima son ocho caracteres
                                            </div> -->
                                        </div>
                                    </div>
                                </form>
                                <div [style.marginTop.px]="10" fxFlexAlign="end">
                                    <button class="btn btn-sprime" style="width: 150px;" type="submit" (click)="doLogin()" [disabled]="!this.form.valid">
                                        Iniciar sesión
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>