<div style="width: 100%; min-height: calc(100vh - 176px);"  fxLayout="row" fxLayoutAlign="center stretch">
    <div fxFlex="50" fxHide fxShow.gt-xs class="image-login" ></div>
    <div fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="30px">
        <div fxLayout="column" fxLayoutAlign="center stretch">
            <div fxLayout="row" fxLayoutAlign="center stretch" [style.marginTop.px]="30">
                <div fxFlex="60" fxLayout="column" fxLayoutAlign="space-around stretch">
                    <div style="font-size: 3rem; font-weight: 600; color: #42a6b8;">SPRIME</div>
                    <div style="font-size: 2.2rem; font-weight: 600; color: #565f76;">Sistema para Ubicar en la Prima Media a Patrones Vigentes sin Trabajadores</div>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center stretch">
            <div fxLayout="row" fxLayoutAlign="center stretch"  [style.marginBottom.px]="30">
                <div fxFlex="60" fxLayout="column" fxLayoutAlign="space-around stretch">
                    <div style="box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; 
                    min-width: 100%; min-height: 40vh; border-radius: 10px;" div fxLayout="column" fxLayoutAlign="center stretch" >
                        <div fxLayout="row" fxLayoutAlign="center stretch" [style.marginTop.px]="10" [style.marginBottom.px]="10">
                            <div fxFlex="80" fxLayout="column" fxLayoutAlign="center stretch" style="background-color: #42a6b8;">
                                <div> Iniciar Sesión</div>
                                <div> Ingresa tu CURP y contraseña</div>
                                <div> campo de curp</div>
                                <div> campo de contraseña</div>
                                <div> boton </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>