<button (click)="evento()" type="submit" [disabled]="disabled" class="btn" [ngClass]="this.button?.buttonClass" [style.marginRight.px]="20">
    <div style="width: 100%; overflow: auto; margin: 0px;" fxLayoutAlign="center stretch">
        <div *ngIf="this.button?.buttonIcon" [style.marginRight.px]="10" fxFlex="15" fxLayout="row" fxLayoutAlign="end center">
            <div [class]="this.button?.buttonIconImg"></div>
        </div>
        <div fxFlex="100" fxLayout="row" [fxLayoutAlign]="this.button?.buttonAling">
            {{this.button?.buttonText}}
        </div>
    </div>
</button>