<button (click)="evento()" type="submit" [disabled]="disabled" [ngClass]="this.button?.buttonClass" [style.marginRight.px]="20">
    <div style="width: 100%; overflow: auto;" fxLayoutAlign="center stretch">
        <div *ngIf="this.button?.buttonIcon" fxFlex="20" fxLayout="row" fxLayoutAlign="end center">
            <img [src]="'assets/img/' + this.button?.buttonUrl" [alt]="this.button?.buttonClass"/>
        </div>
        <div fxFlex="50" [style.marginLeft.px]="10" fxLayout="row" fxLayoutAlign="start center">
            {{this.button?.buttonText}}
        </div>
    </div>
</button>
<br>