.no-data {
    background-image: url("../../../assets/img/no-data.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

th.mat-header-cell {
    font-size:14px!important; 
    font-weight: 600!important; 
    text-transform: capitalize;
    color: #121212!important;
}


::ng-deep .mat-sort-header-arrow[style] {
    // Hide default arrow stem
    .mat-sort-header-stem {
        display: none;
    }
    .mat-sort-header-indicator {
        opacity: 1;
        color: black;
        font-weight: bold;

      // Hide default arrow as its composed of left, right and middle
        .mat-sort-header-pointer-left,
        .mat-sort-header-pointer-right,
        .mat-sort-header-pointer-middle {
            display: none;
        }
    }
}

  // My custom ascending arrow
[aria-sort='ascending'] {
    ::ng-deep .mat-sort-header-arrow {
        .mat-sort-header-indicator {
            &::before {
            content: '\25B4';
            top: 1px;
            position: absolute;
            color: #d9d9d9;
            font-size: 23px;
            line-height: 10px;
            }
        }
    }
}

  // My custom descending arrow
[aria-sort='descending'] {
    ::ng-deep .mat-sort-header-arrow {
        .mat-sort-header-indicator {
        &::before {
            content: '\25BE';
            top: -13px;
            position: absolute;
            color: #d9d9d9;
            font-size: 23px;
        }
        }
    }
}
