<div class="main-title">
    <div fxLayout="row" fxLayoutAlign="space-between center" [style.marginLeft.px]="30" [style.marginRight.px]="30" style="min-height: 60px;">
        <div fxFlex="70" fxFlex.xs="20" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
            <div>
                <div style="border: 2px solid #565f76; border-radius: 8px; width: 35px!important; height: 35px!important; overflow: hidden!important; cursor: pointer;">
                    <div class="arrow-back"></div>
                </div>
            </div>
            <div fxHide fxShow.gt-xs style="font-size: 2.5rem; font-weight: 600; color: black; padding-left: 15px; min-width: 130px; text-overflow: ellipsis;">
                Reporte detalle del sistema para ubicar en la PM a patrones vigentes sin trabajadores
            </div>
        </div>
        <div fxFlex="30" fxFlex.xs="80" fxLayout="row" fxLayoutAlign="end center">
            <div style="font-size: 16px; font-weight: 500;">
                Miércoles 12 de Octubre de 2022
            </div>
        </div>
    </div>
</div>
