<div  class="selectComponent" fxFlex="0 1 calc(20% - 50px)" 
fxFlex.sm="calc(20% - 10px)" fxFlex.xs="calc(100%)" style="position: relative;"  >
            <label for="monthSelect" class="control-label" style="font-size: 14px;">Mes*:</label>
            
                <select 
                    [formControl]="dateMonth"  
                    id="monthSelect" 
                    class="form-control" 
                     aria-label="Selecciona un mes"
                     aria-placeholder="Selecciona un mes">
                     <option value="">Selecciona un mes</option>
                    <option *ngFor="let month of monthList" [value]="month.value">{{month.label}}</option>
                  </select>

            

        </div>