<div style="text-align: center; padding: 0; margin: 0;"><ul class="pagination middle">
  <li *ngIf="pageModel.currentPage === 1" class="disabled" >    
    <a style=" border: none!important;  background-color: unset!important;">&laquo;</a>
  </li>
  <li *ngIf="pageModel.currentPage !== 1" >    
    <a  style=" border: none!important;  background-color: unset!important; cursor: pointer;" (click)="page(1)">&laquo;</a>
  </li>
  
  <ng-template ngFor let-item [ngForOf]="pageModel.pages" >
    <li *ngIf="item === pageModel.currentPage"  [ngClass]="{'active': true}">    
      <a style=" border: none!important; border-radius: 50%! important; min-width: 35px!important; background-color: #9f2241!important; border-color: #691c32!important;
      height: 35px!important; margin-left: 3px!important; margin-right: 3px!important;">{{item}}</a>
    </li>
    <li *ngIf="item !== pageModel.currentPage">    
      <a  (click)="page(item)" style="border: none!important; background-color: unset!important; min-width: 35px!important; 
      height: 35px!important; margin-left: 3px!important; margin-right: 3px!important; cursor: pointer;">{{item}}</a>
    </li>
  </ng-template>
  
  <li *ngIf="pageModel.maxPage === pageModel.totalOfPages" class="disabled" >    
    <a style=" border: none!important;  background-color: unset!important;">&raquo;</a>
  </li>
  <li *ngIf="pageModel.maxPage !== pageModel.totalOfPages" >    
    <a style=" border: none!important;  background-color: unset!important; cursor: pointer;" (click)="page(pageModel.totalOfPages)" >&raquo;</a>
  </li>
  </ul>  
</div>
