<app-header></app-header>
<div style="width: 100%; min-height: calc(100vh - 231px);"  fxLayout="row" fxLayoutAlign="center stretch">
    <alert></alert>
    <div fxFlex="45" fxHide fxShow.gt-xs fxLayout="column" fxLayoutAlign="center stretch">
        <div fxFlex="90" fxLayout="row" fxLayoutAlign="center stretch">
            <div fxFlex="90" class="image-home-central"></div>
        </div>
    </div>
    <div fxFlex="45" fxFlex.xs="90" fxLayout="column" fxLayoutAlign="center stretch">
        <div fxFlex="90" fxLayout="row" fxLayoutAlign="center stretch">
            <div fxFlex="90">

                
                        <div class="row" style="background-color: antiquewhite;">
                            <div class="col-6 py-3 px-3">
                                <div style="background-color: red;">1</div>
                            </div>
                            <div class="col-6 py-3 px-3">
                                <div style="background-color: red;">1</div>
                            </div>
                            <div class="col-6 py-3 px-3">
                                <div style="background-color: red;">1</div>
                            </div>
                            <div class="col-6 py-3 px-3">
                                <div style="background-color: red;">1</div>
                            </div>
                            <div class="col-6 py-3 px-3">
                                <div style="background-color: red;">1</div>
                            </div>
                            <div class="col-6 py-3 px-3">
                                <div style="background-color: red;">1</div>
                            </div>
                        </div>
                    
                    
            </div>
        </div>
    </div>
</div>
