<div class="confirm">
    <div fxLayout="row" fxLayoutAlign="end center">
        <button class="dialog-close-button" mat-flat-button (click)="closeDialog()" [disableRipple]="true" style="min-width: unset!important; width: 32px; padding-left: 0;">
            <mat-icon style="font-size: #969eab!important; opacity: .8;">
                close
            </mat-icon>
        </button>
    </div>
    <div  fxLayout="row" fxLayoutAlign="center center">
        <ng-container *ngIf="data.type === 'error'">
            <span class="bootstrap-icons form-control-icon" aria-hidden="true" style="font-size: 35px!important;">
                <i class="bi bi-exclamation-circle" style="color: #e10000!important;"></i>
            </span>
        </ng-container>
        <ng-container *ngIf="data.type === 'success'">
            <span class="bootstrap-icons form-control-icon" aria-hidden="true" style="font-size: 35px!important;">
                <i class="bi bi-exclamation-circle" style="color: #31781f!important;"></i>
            </span>
        </ng-container>
        <ng-container *ngIf="data.type === 'warn'">
            <span class="bootstrap-icons form-control-icon" aria-hidden="true" style="font-size: 35px!important;">
                <i class="bi bi-exclamation-circle" style="color: #f6d7a2!important;"></i>
            </span>
        </ng-container>
        <ng-container *ngIf="data.type === 'info'">
            <span class="bootstrap-icons form-control-icon" aria-hidden="true" style="font-size: 35px!important;">
                <i class="bi bi-exclamation-circle" style="color: #a1acf7!important;"></i>
            </span>
        </ng-container>
    </div>
    <div  fxLayout="row" fxLayoutAlign="center center" [style.marginRight.px]="30" [style.marginLeft.px]="30" style="border-bottom: 1px solid #eeeeee; height: 60px; font-size: 18px; color: #121212; font-weight: 600; max-width: 418px!important; text-align: center;"> 
        {{data.title}}
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" [style.marginTop.px]="25"  [style.marginBottom.px]="25" [style.marginRight.px]="30" [style.marginLeft.px]="30">
        <div [innerHTML]="(data.subtitle | safe: 'html')" style="font-size: 16px; font-weight: 500; line-height: normal; color: #121212; max-width: 418px!important; text-align: center;"></div>
    </div>

    <div fxHide fxShow.gt-xs style="background-color: #f5f5f5; height: 79px; width: 478px!important; margin: 0; padding: 0;" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="75" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="data.showCancelMessage">
            <div>
                <button class="btn btn-sprime-secondary" style="width: 150px; font-size: 14px!important;" (click)="closeDialog()">
                    {{ data.cancelMessage }}
                </button>
            </div>
            <div>
                <button class="btn btn-sprime" style="width: 150px; font-size: 14px!important;" (click)="confirmDialog()">
                    {{ data.confirmMessage }}
                </button>
            </div>
        </div>
        <div fxFlex="75" fxLayout="row" fxLayoutAlign="center center" *ngIf="!data.showCancelMessage" (click)="confirmDialog()">
            <div>
                <button class="btn btn-sprime" style="width: 150px; font-size: 14px!important;">
                    {{ data.confirmMessage }}
                </button>
            </div>
        </div>
    </div>
    <div fxHide fxShow.xs style="background-color: #f5f5f5; height: 79px; max-width: 478px!important; margin: 0; padding: 0;" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="75" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="data.showCancelMessage">
            <div>
                <button class="btn btn-sprime-secondary" style="width: 110px; font-size: 14px!important;" (click)="closeDialog()">
                    {{ data.cancelMessage }}
                </button>
            </div>
            <div>
                <button class="btn btn-sprime" style="width: 110px; font-size: 14px!important;" (click)="confirmDialog()">
                    {{ data.confirmMessage }}
                </button>
            </div>
        </div>
        <div fxFlex="75" fxLayout="row" fxLayoutAlign="center center" *ngIf="!data.showCancelMessage" (click)="confirmDialog()">
            <div>
                <button class="btn btn-sprime" style="width: 120px; font-size: 14px!important;">
                    {{ data.confirmMessage }}
                </button>
            </div>
        </div>
    </div>
</div>
