<div style="width: 100%; min-height: calc(100vh - 166px);"  fxLayout="row" fxLayoutAlign="center stretch">
    <alert></alert>
    <div fxFlex="50" fxFlex.xl="55" fxFlex.md="45" fxFlex.sm="30" fxHide fxShow.gt-xs class="image-login" ></div>
    <div fxFlex="50" fxFlex.xl="45" fxFlex.md="55" fxFlex.sm="70" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="30px">
        <div fxLayout="column" fxLayoutAlign="center stretch">
            <div fxLayout="row" fxLayoutAlign="center stretch" [style.marginTop.px]="30">
                <div fxFlex="65" fxFlex.xl="50"  fxFlex.lg="60" fxFlex.xs="70" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="15px">
                    <div style="font-size: 3rem; font-weight: 600; color: #42a6b8;">SPRIME</div>
                    <div style="font-size: 2.2rem; font-weight: 600; color: #565f76;">Sistema para Ubicar en la Prima Media a Patrones Vigentes sin Trabajadores</div>
                </div>
            </div>
        </div>

        <div  fxLayout="column" fxLayoutAlign="center stretch" >
            <div fxLayout="row" fxLayoutAlign="center stretch"  [style.marginBottom.px]="30">
                <div fxFlex="65" fxFlex.xl="55"  fxFlex.lg="60" fxFlex.xs="70" fxLayout="column" fxLayoutAlign="space-around stretch">
                    <div style="box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; 
                    min-width: 100%; min-height: 40vh; border-radius: 10px;" div fxLayout="column" fxLayoutAlign="center stretch" >
                        <div fxLayout="row" fxLayoutAlign="center stretch" [style.marginTop.px]="30" [style.marginBottom.px]="30">
                            <div fxFlex="85" fxLayout="column" fxLayoutAlign="center stretch">
                                <div style="font-weight: 600; font-size: 1.9rem;" fxFlexAlign="center"> Cambiar contraseña</div>
                                <div style="font-weight: 600; font-size: 1.7rem;" fxFlexAlign="center"  [style.marginTop.px]="5"> Ingresa tu nueva contraseña</div>
                                <form [formGroup]="formPasswordReset">
                                    <div class="form-group" [style.marginTop.px]="10">
                                        <label class="control-label" style="font-size: 14px;">CURP*:</label>
                                        <input  class="form-control" formControlName="curp" placeholder="Ingresar CURP" type="text"
                                        maxlength="18" autocomplete="off" oninput="this.value = this.value.toUpperCase()"
                                        style="font-size: 14px;" (keypress)="onlyalphaAndNumbers($event);" appTrim>
                                        <div *ngIf="formPasswordReset.controls['curp'].touched && formPasswordReset.controls['curp'].errors"
                                            class="text-danger form-error-label">
                                            <div *ngIf="formPasswordReset.controls['curp'].errors.required">
                                                *Este campo es requerido
                                            </div>
                                            <div *ngIf="formPasswordReset.controls['curp'].errors.pattern">
                                                *CURP inválido
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group"  [style.marginTop.px]="10">
                                        <label class="control-label" style="font-size: 14px;">Contraseña anterior*:</label>
                                        <input class="form-control" formControlName="oldPassword" placeholder="Ingresar contraseña" type="password"
                                        maxlength="12" minlength="8" [type]="viewConfirm1 ? 'text' : 'password'"
                                        style="font-size: 14px;">
                                        <span class="bootstrap-icons form-control-icon" aria-hidden="true" (click)="viewConfirm1=!viewConfirm1">
                                            <i class="bi bi-eye" *ngIf="!viewConfirm1"></i>
                                            <i class="bi bi-eye-slash" *ngIf="viewConfirm1"></i>
                                        </span>
                                        <div *ngIf="formPasswordReset.controls['oldPassword'].touched && formPasswordReset.controls['oldPassword'].errors"
                                            class="text-danger form-error-label">
                                            <div *ngIf="formPasswordReset.controls['oldPassword'].errors.required">
                                                *Este campo es requerido
                                            </div>
                                             <div *ngIf="formPasswordReset.controls['oldPassword'].errors.maxlength">
                                                *La longitud maxima son diez caracteres
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="form-group"  [style.marginTop.px]="10">
                                        <label class="control-label" style="font-size: 14px;">Contraseña nueva*:</label>
                                        <input class="form-control" formControlName="newPassword" placeholder="Ingresar contraseña" type="password"
                                        maxlength="12" minlength="8" [type]="viewConfirm2 ? 'text' : 'password'"
                                        style="font-size: 14px;">
                                        <span class="bootstrap-icons form-control-icon" aria-hidden="true" (click)="viewConfirm2=!viewConfirm2">
                                            <i class="bi bi-eye" *ngIf="!viewConfirm2"></i>
                                            <i class="bi bi-eye-slash" *ngIf="viewConfirm2"></i>
                                        </span>
                                        <div *ngIf="formPasswordReset.controls['newPassword'].touched && formPasswordReset.controls['newPassword'].errors"
                                            class="text-danger form-error-label">
                                            <div *ngIf="formPasswordReset.controls['newPassword'].errors.required">
                                                *Este campo es requerido
                                            </div>
                                            <div *ngIf="formPasswordReset.controls['newPassword'].errors.maxlength">
                                                *La longitud maxima son diez caracteres
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="form-group"  [style.marginTop.px]="10">
                                        <label class="control-label" style="font-size: 14px;">Confirmar contraseña*:</label>
                                        <input class="form-control" formControlName="passwordConfirm" placeholder="Ingresar contraseña" type="password"
                                        maxlength="12" minlength="8" [type]="viewConfirm3 ? 'text' : 'password'"
                                        style="font-size: 14px;">
                                        <span class="bootstrap-icons form-control-icon" aria-hidden="true" (click)="viewConfirm3=!viewConfirm3">
                                            <i class="bi bi-eye" *ngIf="!viewConfirm3"></i>
                                            <i class="bi bi-eye-slash" *ngIf="viewConfirm3"></i>
                                        </span>
                                        <div *ngIf="formPasswordReset.controls['passwordConfirm'].touched && formPasswordReset.controls['passwordConfirm'].errors"
                                            class="text-danger form-error-label">
                                            <div *ngIf="formPasswordReset.controls['passwordConfirm'].errors.required">
                                                *Este campo es requerido
                                            </div>
                                            <div *ngIf="formPasswordReset.controls['passwordConfirm'].errors.maxlength">
                                                *La longitud maxima son diez caracteres
                                            </div> 
                                        </div>
                                        <div fxFlexAlign="right" [style.marginTop.px]="5">
                                            La contraseña debe contener: 6 letras, 3 n&uacute;meros y 1 caracter especial.
                                    </div>
                                        
                                    </div>
                                </form>
                                <div [style.marginTop.px]="10" fxFlexAlign="end">
                                    <button routerLink="login"
                                     class="btn btn-sprime-secondary" 
                                     style="width: 150px; margin-right: 10px;"  >
                                        Cancelar
                                    </button>
                                    <button class="btn btn-sprime" (click)="updatePassword()" style="width: 150px;" type="submit"  [disabled]="!this.formPasswordReset.valid">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>