<div class="header-user">
    <div fxLayout="row" fxLayoutAlign="space-between center" [style.marginTop.px]="15">
        <div fxFlex="60" fxFlex.xs="20" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
            <div style="font-size: 1.5rem; font-weight: 600; color: #42a6b8;">SPRIME</div>
            <div fxHide fxShow.gt-xs style="font-size: 1.5rem; font-weight: 500; color: #565f76; border-left: 1.5px solid #dfdfdf; padding-left: 15px; min-width: 140px; background-color: pink; text-overflow: ellipsis;">Sistema para Ubicar en la Prima Media a Patrones Vigentes sin Trabajadores</div>
        </div>
        <div fxFlex="40" fxFlex.xs="80" fxLayout="row" fxLayoutAlign="end center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.marginRight.px]="30" fxLayoutGap="5px">
                <!-- <div fxFlexAlign="start">
                    <span class="bootstrap-icons form-control-icon" aria-hidden="true" style="font-size: 15px; color: #565f76; background-color: blue">
                        <i class="bi bi-caret-down-fill"></i>
                    </span>
                </div> -->
                <div fxLayout="row" fxLayoutAlign="center center" style="cursor: pointer;" fxLayoutGap="10px" data-toggle="collapse" data-target="#administrationCollapse" aria-expanded="false" aria-controls="administrationCollapse">
                    <div  fxLayout="column" fxLayoutAlign="center end">
                        <div style="font-size: 15px; font-weight: 500; color: #565f76"> 
                            <span class="bootstrap-icons form-control-icon" aria-hidden="true" style="font-size: 16px!important; color: #565f76; margin-right: 5px;">
                                <i class="bi bi-chevron-down"></i>
                            </span>
                            HELB931103HMCRZR00 
                        </div>
                        <div style="font-size: 14px; font-weight: 500; color: #42a6b8"> Jose Perez Aguñaga / Abogado </div>
                    </div>
                    <div fxFlexAlign="start">
                        <span class="bootstrap-icons form-control-icon" aria-hidden="true" style="font-size: 27px; color: #565f76;">
                            <i class="bi bi-person-square"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%; margin: 0; padding: 0;">
        <div class="collapse" id="administrationCollapse" >
            uno dos tres
        </div>
    </div>
</div>