
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$guisprime-web-primary: mat.define-palette(mat.$indigo-palette);
$guisprime-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$guisprime-web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$guisprime-web-theme: mat.define-light-theme((
  color: (
    primary: $guisprime-web-primary,
    accent: $guisprime-web-accent,
    warn: $guisprime-web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($guisprime-web-theme);

/* You can add global styles to this file, and also import other style files */

.form-error-label{
  font-size: 10px;
  font-weight: 500;
}

/* ESTILO BTONES */

.btn-sprime {
    /* background-color: #8ac7d3; */
    background-color: #42a6b8;
    border: 1px solid #42a6b8;
    border-radius: 8px !important;
    font-size: 1.5rem;
    color: #ffffff;
    width: 100%;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    line-height: 1.5rem;
    height: 38px;
}

.btn-sprime:disabled {
    background-color: #8ac7d3;
    border: 1px solid #8ac7d3;
    border-radius: 8px !important;
    font-size: 1.5rem;
    color: #ffffff !important;
    width: 100%;
    line-height: 1.5rem;
    height: 38px;
}

.btn-sprime:hover {
    background-color: #8ac7d3!important;
    border: 1px solid #8ac7d3!important;
    color: #ffffff !important;
}

.btn-sprime:active,
.btn-sprime:focus,
.btn-sprime:focus:active {
    color: #ffffff !important;
    outline-color: #8ac7d3!important;
    box-shadow: none!important;
}

.btn-sprime:disabled:active {
    /* outline-color: none !important;
    box-shadow: none !important; */
}

.btn-sprime-secondary:active,
.btn-sprime-secondary:focus,
.btn-sprime-secondary:focus:active {
    outline-color: #285ced !important;
    opacity: 0.7;
}

.btn-sprime-secondary {
    background-color: #ffffff;
    border: 2px solid #285ced;
    border-radius: 2px !important;
    font-size: 1rem;
    color: #285ced;
    width: 100%;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}
  
  .btn-sprime-secondary:hover {
    color: #285ced !important;
  }
  
  .btn-sprime-secondary:disabled {
    border: 1px solid #b1b3b3;
    color: #b1b3b3 !important;
  }
  
  .btn-sprime-danger {
    background-color: #ffffff;
    border: 2px solid #f95a36 !important;
    border-radius: 2px !important;
    font-size: 1rem;
    color: #f95a36;
    width: 100%;
  }
  
  .btn-sprime-danger:hover {
    background-color: #ffffff;
    color: #f95a36 !important;
  }
  .btn-sprime-danger:focus {
    box-shadow: 0 0 0 0.25rem rgb(249 90 54 / 25%);
  }

 /* ESTILO ALERTAS */

.border-success {
  border: solid 1px #006455;
  /* border: solid 1px #285ced; */
  /* background-color: #e6edf6 !important; */
}
.border-error {
  border: solid 1px #f95a36;
 /*  background-color: #feead6 !important; */
}

.border-info {
  border: solid 1px #285ced;
  background-color: #e6edf6 !important;
}

.border-warning {
  border: solid 1px #aa9a09;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
