.button-ico {
    background-image: url("../../../assets/img/reporte-extraccion.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.reporte-extraccion {
    background-image: url("../../../assets/img/reporte-extraccion.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.reporte-detalles {
    background-image: url("../../../assets/img/reporte-detalles.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cifras-apm {
    background-image: url("../../../assets/img/cifras-apm.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cifras-patrones {
    background-image: url("../../../assets/img/cifras-patrones.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.autorizar-apm {
    background-image: url("../../../assets/img/autorizar-apm.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.generar-archivos {
    background-image: url("../../../assets/img/generar-archivos.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}