.button-ico {
    background-image: url("../../../assets/img/button-ico.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.reporte-extraccion {
    background-image: url("../../../assets/img/reporte-extraccion.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.reporte-detalles {
    background-image: url("../../../assets/img/reporte-detalles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cifras-apm {
    background-image: url("../../../assets/img/cifras-apm.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cifras-patrones {
    background-image: url("../../../assets/img/cifras-patrones.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.autorizar-apm {
    background-image: url("../../../assets/img/autorizar-apm.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.generar-archivos {
    background-image: url("../../../assets/img/generar-archivos.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}