<div  class="selectComponent" fxFlex="0 1 calc(20% - 50px)" 
fxFlex.sm="calc(20% - 10px)" fxFlex.xs="calc(100%)" style="position: relative;">
            <label for="delegacionSelect" class="control-label" style="font-size: 14px;">OOAD o Subdelegaci&oacute;n*:</label>
            
                <select id="delegacionSelect" class="form-control"  aria-label="Selecciona una opción">
                    <option value="" >Selecciona una opci&oacute;n</option>
                    <option value="1">OOAD</option>
                    <option value="2">Subdelegaci&oacute;n</option>
                    <option value="3">Todos</option>
                  </select>

            

        </div>